/* div{
  border-style: solid



} */
.Palette{
  display: flex;
  flex-direction: row;

}

.grid {
  border: 1px solid;
}
.row{
  display: flex;
  flex-direction: row;
}
.col{
  display: flex;
  flex-direction: column;
}
